@charset "UTF-8";
/*ALL*/
/*formato de todo*/
* {
  font-family: "Jost", "Arial";
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.button {
  font-size: 0.7em;
  background-color: rgb(241, 111, 62);
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*INDEX*/
/*HEADER*/
.header {
  font-weight: 300;
  grid-area: header;
  display: flex;
  background-color: hsl(65, 17%, 73%);
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
}
.header_content_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header_logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: fit-content;
  justify-content: left;
}
.header_img_logo {
  object-fit: cover;
  border-radius: 100%;
  max-width: 100%;
  height: 80px;
}
.header_img_logo :hover {
  transform: scale(3);
}

.container_fluid {
  display: flex;
}

.navbar-nav-2 {
  display: inline-block;
  margin-bottom: 0;
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
  position: relative;
}

.nav-link-2 {
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.nav-item-2 {
  letter-spacing: 2px;
  display: flex;
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 10%;
}

/*MAIN*/
.main_container {
  grid-area: main;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1.5fr;
  padding-bottom: 2em;
  padding-top: 2em;
  font-size: 20px;
  text-align: center;
}
.intro_weare {
  width: 80%;
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 2%;
}
.intro_brief {
  width: 80%;
}
.intro_button_container {
  padding: 2%;
  width: 80%;
}
.intro_br_container {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 3.5fr;
  overflow: hidden;
}
.intro_button_br {
  padding: 2%;
}
.intro_br_text_container {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}
.intro_title_br {
  padding: 2% 0 2% 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.intro_description_br {
  padding: 1% 0 1% 0;
  font-size: 1rem;
}
.intro_br_img_container {
  display: flex;
  width: 50%;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.intro_br_img_1 {
  height: 100%;
  max-width: 100%;
}
.intro_mc_container {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  height: 3.5fr;
  overflow: hidden;
}
.intro_button_mc {
  padding: 2%;
}
.intro_mc_text_container {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}
.intro_mc_img_container {
  display: flex;
  width: 50%;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.intro_title_mc {
  padding: 2% 0 2% 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.intro_description_mc {
  text-align: center;
  padding: 2% 0 2% 0;
  font-size: 1rem;
}
.intro_mc_img_1 {
  max-width: 100%;
  height: 100%;
}

.visit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3fr;
  padding: 5% 0 2% 0;
  font-size: 20px;
  text-align: center;
}
.visit_locations_hours_container {
  display: flex;
  flex-direction: row;
  height: 4fr;
}
.visit_locations_container {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1% 0 1% 0;
  font-size: 0.9rem;
}
.visit_hours_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  padding: 1% 0 0 0;
  font-size: 0.9rem;
}
.visit_cupcake_img_container {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  width: 33.33%;
}
.visit_cupcake_img {
  display: flex;
  height: 30%;
}
.visit_la_title {
  width: 60%;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 2% 0 2% 0;
}
.visit_locations {
  width: 60%;
}
.visit_title_container {
  padding: 1% 0 1% 0;
  font-size: 0.9rem;
}
.visit_title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
}
.visit_hours_title {
  width: 60%;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 2% 0 0 0;
}
.visit_hours {
  width: 80%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1% 1% 1%;
  flex-direction: column;
  /*formato para estrellas de rating*/
  /*REVISAR (NO ESTA EN CODE HTML)*/
}
.form_subcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5% 0 5% 0;
  font-size: 20px;
  padding-bottom: 2%;
  padding-top: 2%;
  width: 50%;
}
.form_which_location_container {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 1rem;
  padding: 0 0 1% 0;
}
.form_locations_list {
  display: flex;
  text-align: center;
  height: 3rem;
  font-size: 1rem;
  border: 0.5px solid grey;
  border-radius: 3px;
}
.form_title {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 2% 0 5% 0;
  align-self: center;
  text-align: center;
}
.form_how_experience {
  display: flex;
  text-align: center;
  align-self: center;
  font-size: 1rem;
}
.form_star-rating {
  align-self: center;
  display: flex;
  text-align: center;
  font-size: 0.9rem;
}
.form_add_review {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: center;
}
.form_textarea {
  display: flex;
  font-size: 1rem;
  height: 8rem;
  border: 0.5px solid grey;
  border-radius: 4px;
}
.form_enter_email {
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.form_label_email {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 1rem;
}
.form_email {
  display: flex;
  font-size: 1rem;
  height: 3rem;
  border-radius: 4px;
  border: 0.5px solid grey;
}
.form_button_container {
  display: flex;
  font-size: 1rem;
  width: 100%;
  height: 3rem;
  padding: 5px;
  text-align: center;
  justify-content: center;
  align-self: center;
  border-radius: 20px;
}
.form_my-star::before {
  content: "★";
  font-size: 1.5rem;
}
.form_my-star {
  font-style: unset !important;
  font-size: 0.9rem;
}
.form_is-active {
  color: #fb8900;
}
.form_my-star:not(.is-active):hover {
  color: #fb8900;
}

#locations_list {
  font-size: 0.9rem;
  width: 80%;
  padding: 2% 0 2% 0;
}

#textarea {
  font-size: 0.9rem;
  width: 80%;
}

.end_img {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}
.end_img_2_container {
  display: flex;
  width: 25%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  overflow: hidden;
  width: max-content;
}
.end_img_3_container {
  display: flex;
  width: 25%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: contain;
  width: max-content;
}
.end_img_4_container {
  display: flex;
  width: 25%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  overflow: hidden;
  width: max-content;
}
.end_img_5_container {
  display: flex;
  width: 25%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: contain;
  width: max-content;
}
.end_img_img2 {
  object-fit: contain;
}
.end_img_img3 {
  object-fit: contain;
}
.end_img_img4 {
  object-fit: contain;
}
.end_img_img5 {
  object-fit: contain;
}

/*FOOTER*/
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 400px;
  width: 100%;
}
.footer_content_container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  align-self: last baseline;
  font-size: 20px;
}
.footer_locations_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
}
.footer_locations_container li {
  color: white;
  display: flex;
}
.footer_locations_list {
  color: white;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
}
.footer_locations_list p {
  color: white;
  display: flex;
}
.footer_links_container {
  display: flex;
  width: 33%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_links a {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding-bottom: 5%;
}
.footer_logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  height: fit-content;
}
.footer_img_logo {
  display: flex;
  border-radius: 100%;
  max-width: 100%;
  height: 200px;
}
.footer_instagram_logo {
  display: flex;
  padding-bottom: 3%;
}

/*MENU*/
/*MENU*/
#grilla_menu {
  display: grid;
  width: 100%;
  margin: 0;
  grid-template-rows: 100px 30fr 200px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "header header header header" "main main  main  main" "footer footer footer footer";
}

.menu {
  grid-area: main;
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}
.menu_main_img_container {
  height: 0.5fr;
}
.menu_carta_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
  padding-top: 1em;
  font-size: 20px;
}
.menu_card-img-top {
  padding-top: 5%;
}
.menu_card {
  width: 100%;
  margin: 3%;
  font-size: 14px;
}
.menu_card-title {
  display: flex;
  font-size: 1rem;
  text-align: center;
}

.row {
  height: 0.2fr;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-size: 20px;
}

.carta_container_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
  padding-top: 1em;
  font-size: 20px;
}

.card-img-top {
  padding-top: 5%;
}

.card {
  width: 100%;
  margin: 3%;
  font-size: 14px;
}

.card-title {
  font-size: 1rem;
}

.breakfast_title_container {
  display: flex;
  background-color: rgb(241, 111, 62);
  justify-content: center;
  margin-top: 5%;
}

.breakfast_title {
  display: flex;
  padding-top: 0.8%;
}

/*CATERING*/
/*CATERING*/
#grilla_catering {
  display: grid;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
  grid-template-rows: 100px 50fr 200px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "header header header header" "main main  main  main" "footer footer footer footer";
}

.catering_img_container {
  display: flex;
  flex-direction: row;
}
.catering_img_1_container {
  border-top: 0.25em solid white;
  border-right: 0.25em solid white;
  border-bottom: 0.25em solid white;
  display: flex;
  width: 50%;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.catering_img_1 {
  max-width: 100%;
  height: 100%;
}
.catering_img_2_container {
  border-top: 0.25em solid white;
  border-right: 0.25em solid white;
  border-bottom: 0.25em solid white;
  display: flex;
  width: 50%;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.catering_img_2 {
  max-width: 100%;
  height: 100%;
}
.catering_form_title_container {
  display: flex;
  padding: 0 1% 1% 1%;
  flex-direction: row;
  padding-bottom: 4%;
  padding-top: 4%;
}
.catering_title_container {
  width: 33%;
  display: flex;
  flex-direction: column;
  padding: 1% 0 5% 0;
}
.catering_title {
  font-size: 20px;
}
.catering_description {
  font-size: 1rem;
}
.catering_form_container {
  display: flex;
  flex-direction: column;
  width: 67%;
  padding-left: 2%;
  padding-right: 2%;
}
.catering_form {
  padding: 0 1% 1% 1%;
}
.catering_form_subcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5% 0 5% 0;
  font-size: 20px;
  padding-bottom: 2%;
  padding-top: 2%;
}
.catering_form_enter_name {
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.catering_form_label_name {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 1rem;
}
.catering_form_name {
  display: flex;
  font-size: 1rem;
  height: 3rem;
  border-radius: 4px;
  border: 0.5px solid grey;
  padding-left: 1rem;
}
.catering_form_enter_email {
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.catering_form_label_email {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 1rem;
}
.catering_form_email {
  display: flex;
  font-size: 1rem;
  height: 3rem;
  border-radius: 4px;
  border: 0.5px solid grey;
  padding-left: 1rem;
}
.catering_form_enter_phone {
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.catering_form_label_phone {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 1rem;
}
.catering_form_phone {
  display: flex;
  font-size: 1rem;
  height: 3rem;
  border-radius: 4px;
  border: 0.5px solid grey;
  padding-left: 1rem;
}
.catering_form_add_message {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: center;
}
.catering_form_textarea {
  display: flex;
  font-size: 1rem;
  height: 8rem;
  border: 0.5px solid grey;
  border-radius: 4px;
  padding-left: 1rem;
  padding-top: 1rem;
}
.catering_form_enter_date {
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.catering_form_label_date {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 1rem;
}
.catering_form_date {
  display: flex;
  font-size: 1rem;
  height: 3rem;
  border-radius: 4px;
  border: 0.5px solid grey;
  padding-left: 1rem;
  color: grey;
}
.catering_form_button_container {
  display: flex;
  font-size: 1rem;
  width: 100%;
  height: 3rem;
  padding: 5px;
  text-align: center;
  justify-content: center;
  align-self: center;
  border-radius: 20px;
}

/*CONTACT US*/
/*CONTACT US*/
.contact_form_title_container {
  display: flex;
  padding: 0 1% 1% 1%;
  flex-direction: column;
  padding-bottom: 4%;
  padding-top: 4%;
  align-items: center;
}
.contact_title_container {
  display: flex;
  flex-direction: column;
  padding: 1% 0 5% 0;
}
.contact_title {
  font-size: 20px;
  text-align: center;
}
.contact_description {
  font-size: 1rem;
  text-align: center;
}

/*MEDIA QUERYS*/
/*INDEX*/
/*media queries* Desktop a mobile*/
@media (max-width: 1020px) and (min-width: 768px) {
  .header_content_container {
    font-size: 10px;
  }
  #grilla {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 5fr 75px;
    grid-template-areas: "header" "main" "footer";
  }
  .main_img_container {
    height: 0.5fr;
  }
  .intro_br_img_container {
    border: none;
  }
  .intro_br_text_container {
    border: none;
  }
  .intro_mc_text_container {
    border: none;
  }
  .intro_mc_img_container {
    border: none;
  }
  .intro_br_container {
    flex-direction: column;
  }
  .intro_mc_container {
    flex-direction: column;
  }
  .intro_br_text_container {
    width: 100%;
  }
  .intro_br_img_container {
    width: 100%;
  }
  .intro_mc_text_container {
    width: 100%;
  }
  .intro_mc_text_container {
    width: 100%;
  }
  .intro_mc_img_container {
    width: 100%;
  }
  .visit_locations_hours_container {
    flex-direction: column;
  }
  .visit_hours_container {
    width: 100%;
  }
  .visit_locations_container {
    width: 100%;
  }
  .visit_cupcake_img_container {
    width: 100%;
  }
  .end_img {
    flex-direction: column;
  }
  .end_img_2_container {
    width: 100%;
  }
  .end_img_3_container {
    width: 100%;
  }
  .end_img_4_container {
    display: none;
  }
  .end_img_5_container {
    display: none;
  }
  .visit_cupcake_img {
    height: 100%;
    width: 10%;
  }
  .footer {
    height: 550px;
  }
  .footer_content_container {
    flex-direction: column;
  }
  .footer_img_logo {
    height: 80px;
  }
  .footer_content_container {
    height: none;
    padding: 4%;
  }
  .footer_locations_container {
    width: 100%;
  }
  .catering_form_title_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 5px 5% 5px;
  }
  .catering_title_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 769px) and (min-width: 420px) {
  #grilla {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 5fr 75px;
    grid-template-areas: "header" "main" "footer";
  }
  .main_img_container {
    height: 0.5fr;
  }
  .header_img_logo {
    height: 60px;
  }
  .navbar-nav-2 {
    display: flex;
    flex-direction: column;
    background-color: hsl(65, 17%, 73%);
    opacity: 0.7;
  }
  .collapse ul {
    height: 100vh;
  }
  .intro_br_img_container {
    border: none;
  }
  .intro_br_text_container {
    border: none;
  }
  .intro_mc_text_container {
    border: none;
  }
  .intro_mc_img_container {
    border: none;
  }
  .intro_br_container {
    flex-direction: column;
  }
  .intro_mc_container {
    flex-direction: column;
  }
  .intro_br_text_container {
    width: 100%;
  }
  .intro_br_img_container {
    width: 100%;
  }
  .intro_mc_text_container {
    width: 100%;
  }
  .intro_mc_text_container {
    width: 100%;
  }
  .intro_mc_img_container {
    width: 100%;
  }
  .visit_locations_hours_container {
    flex-direction: column;
  }
  .visit_hours_container {
    width: 100%;
  }
  .visit_locations_container {
    width: 100%;
  }
  .visit_cupcake_img_container {
    width: 100%;
  }
  .end_img {
    flex-direction: column;
  }
  .end_img_2_container {
    width: 100%;
  }
  .end_img_3_container {
    width: 100%;
  }
  .end_img_4_container {
    display: none;
  }
  .end_img_5_container {
    display: none;
  }
  .visit_cupcake_img {
    height: 100%;
    width: 10%;
  }
  .intro_br_img_container {
    border: none;
  }
  .intro_br_text_container {
    border: none;
  }
  .intro_mc_text_container {
    border: none;
  }
  .intro_mc_img_container {
    border: none;
  }
  .footer {
    height: 550px;
  }
  .footer_content_container {
    flex-direction: column;
  }
  .footer_img_logo {
    height: 80px;
  }
  .footer_content_container {
    height: none;
    padding: 4%;
  }
  .footer_locations_container {
    width: 100%;
  }
  .catering_form_title_container {
    flex-direction: column;
    padding: 5% 5px 5% 5px;
    align-items: center;
  }
  .catering_title_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .catering_img_container {
    flex-direction: column;
  }
  .catering_img_1_container {
    width: 100%;
  }
  .catering_img_2_container {
    width: 100%;
  }
  /*achicar font-sizes*/
  .header_menu_list {
    font-size: 12px;
  }
  .intro {
    font-size: 16px;
  }
  .intro_br_text_container {
    font-size: 12px;
    border: none;
  }
  .intro_mc_text_container {
    font-size: 12px;
    border: none;
  }
  .intro_br_img_1 {
    border: none;
  }
  .visit {
    font-size: 16px;
  }
  .visit_locations_container {
    font-size: 14px;
  }
  .visit_title_container {
    font-size: 12px;
  }
  .form_subcontainer {
    font-size: 12px;
  }
  .footer {
    font-size: 12px;
  }
}
@media (max-width: 421px) and (min-width: 320px) {
  #grilla {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 5fr 75px;
    grid-template-areas: "header" "main" "footer";
  }
  .main_img_container {
    height: 0.5fr;
  }
  .header_img_logo {
    height: 70px;
  }
  .navbar-nav-2 {
    display: flex;
    flex-direction: column;
    background-color: hsl(65, 17%, 73%);
    opacity: 0.7;
  }
  .intro_br_container {
    flex-direction: column;
  }
  .intro_mc_container {
    flex-direction: column;
  }
  .intro_br_text_container {
    width: 100%;
  }
  .intro_br_img_container {
    width: 100%;
  }
  .intro_mc_text_container {
    width: 100%;
  }
  .intro_mc_text_container {
    width: 100%;
  }
  .intro_mc_img_container {
    width: 100%;
  }
  .visit_locations_hours_container {
    flex-direction: column;
  }
  .visit_hours_container {
    width: 100%;
  }
  .visit_locations_container {
    width: 100%;
  }
  .visit_cupcake_img_container {
    width: 100%;
  }
  .end_img {
    flex-direction: column;
  }
  .end_img_2_container {
    width: 100%;
  }
  .end_img_3_container {
    width: 100%;
  }
  .end_img_4_container {
    display: none;
  }
  .end_img_5_container {
    display: none;
  }
  .visit_cupcake_img {
    height: 100%;
    width: 30%;
    padding-bottom: 3%;
  }
  .intro_br_img_container {
    border: none;
  }
  .intro_br_text_container {
    border: none;
  }
  .intro_mc_text_container {
    border: none;
  }
  .intro_mc_img_container {
    border: none;
  }
  .footer {
    height: 550px;
  }
  .footer_img_logo {
    height: 70px;
  }
  .footer_content_container {
    flex-direction: column;
  }
  .footer_content_container {
    height: none;
    padding: 4%;
  }
  .footer_locations_container {
    width: 100%;
  }
  .catering_form_title_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 5px 5% 5px;
  }
  .catering_title_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .catering_img_container {
    flex-direction: column;
  }
  .catering_img_1_container {
    width: 100%;
  }
  .catering_img_2_container {
    width: 100%;
  }
  /*achicar font-sizes*/
  .header_menu_list {
    font-size: 16px;
  }
  .intro {
    font-size: 16px;
  }
  .intro_br_text_container {
    font-size: 16px;
  }
  .intro_mc_text_container {
    font-size: 16px;
  }
  .form_subcontainer {
    font-size: 10px;
  }
  .footer {
    font-size: 10px;
  }
}
/*ANIMATIONS*/
li:hover {
  transform: scale(1.2);
}

.button:hover {
  transform: scale(1.2);
}

.visit_title {
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.footer_links a:hover {
  transform: scale(1.2);
}

.visit_la_title:hover {
  background-color: rgb(241, 111, 62);
}

.visit_hours_title:hover {
  background-color: rgb(241, 111, 62);
}

.form_button_container:hover {
  background-color: rgb(241, 111, 62);
}

.catering_form_button_container:hover {
  background-color: rgb(241, 111, 62);
}

.navbar.expanded #navbarToggle > ul > li > a {
  color: black;
}

/*# sourceMappingURL=main.css.map */
