li:hover {
  transform: scale(1.2);
}

.button:hover {
  transform: scale(1.2);
}
.visit_title {
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.footer_links a:hover {
  transform: scale(1.2);
}

.visit_la_title:hover {
  background-color: rgba(241, 111, 62, 1);
}
.visit_hours_title:hover {
  background-color: rgba(241, 111, 62, 1);
}

.form_button_container:hover {
  background-color: rgba(241, 111, 62, 1);
}
.catering_form_button_container:hover {
  background-color: rgba(241, 111, 62, 1);
}


.navbar.expanded #navbarToggle>ul>li>a{
  color: black;
}