.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1% 1% 1%;
  flex-direction: column;

  &_subcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5% 0 5% 0;
    font-size: map-get($fontsize-mood, size-original);
    padding-bottom: 2%;
    padding-top: 2%;
    width: 50%;
  }
  &_which_location_container {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: map-get($fontsize-mood, size-one);
    padding: 0 0 1% 0;
  }
  &_locations_list {
    display: flex;
    text-align: center;
    height: 3rem;
    font-size: map-get($fontsize-mood, size-one);
    border: 0.5px solid grey;
    border-radius: 3px;
  }
  &_title {
    display: flex;
    font-size: map-get($fontsize-mood, size-original);
    font-weight: bold;
    letter-spacing: 3px;
    padding: 2% 0 5% 0;
    align-self: center;
    text-align: center;
  }
  &_how_experience {
    display: flex;
    text-align: center;
    align-self: center;
    font-size: map-get($fontsize-mood, size-one);
  }
  &_star-rating {
    align-self: center;
    display: flex;
    text-align: center;
    font-size: map-get($fontsize-mood, size-two);
  }
  &_add_review {
    display: flex;
    flex-direction: column;
    font-size: map-get($fontsize-mood, size-one);
    text-align: center;
  }
  &_textarea {
    display: flex;
    font-size: map-get($fontsize-mood, size-one);
    height: 8rem;
    border: 0.5px solid grey;
    border-radius: 4px;
  }

  &_enter_email {
    font-size: map-get($fontsize-mood, size-one);
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  &_label_email {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: map-get($fontsize-mood, size-one);
  }
  &_email {
    display: flex;
    font-size: map-get($fontsize-mood, size-one);
    height: 3rem;
    border-radius: 4px;
    border: 0.5px solid grey;
  }
  &_button_container {
    display: flex;
    font-size: map-get($fontsize-mood, size-one);
    width: 100%;
    height: 3rem;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-self: center;
    border-radius: 20px;
  }

  /*formato para estrellas de rating*/

  &_my-star::before {
    content: "\002605";
    font-size: 1.5rem;
  }
  &_my-star {
    font-style: unset !important;
    font-size: map-get($fontsize-mood, size-two);
  }
  /*REVISAR (NO ESTA EN CODE HTML)*/
  &_is-active {
    color: #fb8900;
  }
  &_my-star:not(.is-active):hover {
    color: #fb8900;
  }
}

#locations_list {
  font-size: map-get($fontsize-mood, size-two);
  width: 80%;
  padding: 2% 0 2% 0;
}
#textarea {
  font-size: map-get($fontsize-mood, size-two);
  width: 80%;
}
