/*INDEX*/
/*media queries* Desktop a mobile*/

@media (max-width: 1020px) and (min-width: 768px) {
  .header_content_container {
    font-size: 10px;
  }

  #grilla {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 5fr 75px;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .main_img_container {
    height: 0.5fr;
  }

  .intro {
    &_br_img_container {
      border: none;
    }
    &_br_text_container {
      border: none;
    }
    &_mc_text_container {
      border: none;
    }
    &_mc_img_container {
      border: none;
    }

    &_br_container {
      flex-direction: column;
    }
    &_mc_container {
      flex-direction: column;
    }
    &_br_text_container {
      width: 100%;
    }
    &_br_img_container {
      width: 100%;
    }
    &_mc_text_container {
      width: 100%;
    }
    &_mc_text_container {
      width: 100%;
    }
    &_mc_img_container {
      width: 100%;
    }
  }

  .visit {
    &_locations_hours_container {
      flex-direction: column;
    }
    &_hours_container {
      width: 100%;
    }
    &_locations_container {
      width: 100%;
    }
    &_cupcake_img_container {
      width: 100%;
    }
  }
  .end_img {
    flex-direction: column;

    &_2_container {
      width: 100%;
    }
    &_3_container {
      width: 100%;
    }
    &_4_container {
      display: none;
    }
    &_5_container {
      display: none;
    }
  }

  .visit_cupcake_img {
    height: 100%;
    width: 10%;
  }

  .footer {
    height: 550px;

    &_content_container {
      flex-direction: column;
    }

    &_img_logo {
      height: 80px;
    }

    &_content_container {
      height: none;
      padding: 4%;
    }
    &_locations_container {
      width: 100%;
  }
}
  

  .catering {
    &_form_title_container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5% 5px 5% 5px;
    }
    &_title_container {
      width:100%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    
      
    }
  
}

@media (max-width: 769px) and (min-width: 420px) {
  #grilla {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 5fr 75px;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .main_img_container {
    height: 0.5fr;
  }
  .header_img_logo {
    height: 60px;
  }
  .navbar-nav-2{
    display: flex;
    flex-direction: column;
    background-color: hsl(65, 17%, 73%);
    opacity:0.7;
    
  }
  .collapse ul{height: 100vh;}
  .intro {
    &_br_img_container {
      border: none;
    }
    &_br_text_container {
      border: none;
    }
    &_mc_text_container {
      border: none;
    }
    &_mc_img_container {
      border: none;
    }

    &_br_container {
      flex-direction: column;
    }
    &_mc_container {
      flex-direction: column;
    }
    &_br_text_container {
      width: 100%;
    }
    &_br_img_container {
      width: 100%;
    }
    &_mc_text_container {
      width: 100%;
    }
    &_mc_text_container {
      width: 100%;
    }
    &_mc_img_container {
      width: 100%;
    }
  }
  .visit {
    &_locations_hours_container {
      flex-direction: column;
    }
    &_hours_container {
      width: 100%;
    }
    &_locations_container {
      width: 100%;
    }
    &_cupcake_img_container {
      width: 100%;
    }
  }
  .end_img {
    flex-direction: column;

    &_2_container {
      width: 100%;
    }
    &_3_container {
      width: 100%;
    }
    &_4_container {
      display: none;
    }
    &_5_container {
      display: none;
    }
  }
  .visit_cupcake_img {
    height: 100%;
    width: 10%;
  }
  .intro {
    &_br_img_container {
      border: none;
    }
    &_br_text_container {
      border: none;
    }
    &_mc_text_container {
      border: none;
    }
    &_mc_img_container {
      border: none;
    }
  }
  .footer {
    height: 550px;

    &_content_container {
      flex-direction: column;
    }

    &_img_logo {
      height: 80px;
    }

    &_content_container {
      height: none;
      padding: 4%;
    }
    &_locations_container {
      width: 100%;
  }
}
  
  .catering {
    &_form_title_container {
      flex-direction: column;
      padding: 5% 5px 5% 5px;
      align-items: center;
    }
    &_title_container {
      width:100%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    &_img_container {
      flex-direction: column;
      
    }
    &_img_1_container {
      width: 100%;
      
    }
    &_img_2_container {
      width: 100%;
      
    }
  }
  /*achicar font-sizes*/
  .header_menu_list {
    font-size: 12px;
  }
  .intro {
    font-size: 16px;

    &_br_text_container {
      font-size: 12px;
      border: none;
    }
    &_mc_text_container {
      font-size: 12px;
      border: none;
    }

    &_br_img_1 {
      border: none;
    }
  }
  .visit {
    font-size: 16px;

    &_locations_container {
      font-size: 14px;
    }
    &_title_container {
      font-size: 12px;
    }
  }
  .form_subcontainer {
    font-size: 12px;
  }
  .footer {
    font-size: 12px;
  }
}

@media (max-width: 421px) and (min-width: 320px) {
  #grilla {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 5fr 75px;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .main_img_container {
    height: 0.5fr;
  }
  .header_img_logo {
    height: 70px;
  }
  .navbar-nav-2{
    display: flex;
    flex-direction: column;
    background-color: hsl(65, 17%, 73%);
    opacity:0.7;
  }
  .intro {
    &_br_container {
      flex-direction: column;
    }
    &_mc_container {
      flex-direction: column;
    }
    &_br_text_container {
      width: 100%;
    }
    &_br_img_container {
      width: 100%;
    }
    &_mc_text_container {
      width: 100%;
    }
    &_mc_text_container {
      width: 100%;
    }
    &_mc_img_container {
      width: 100%;
    }
  }

  .visit {
    &_locations_hours_container {
      flex-direction: column;
    }
    &_hours_container {
      width: 100%;
    }
    &_locations_container {
      width: 100%;
    }
    &_cupcake_img_container {
      width: 100%;
    }
  }
  .end_img {
    flex-direction: column;

    &_2_container {
      width: 100%;
    }
    &_3_container {
      width: 100%;
    }
    &_4_container {
      display: none;
    }
    &_5_container {
      display: none;
    }
  }
  .visit_cupcake_img {
    height: 100%;
    width: 30%;
    padding-bottom:3%;
  }
  .intro {
    &_br_img_container {
      border: none;
    }
    &_br_text_container {
      border: none;
    }
    &_mc_text_container {
      border: none;
    }
    &_mc_img_container {
      border: none;
    }
  }
  .footer {
    height: 550px;

    &_img_logo {
      height: 70px;
    }
    &_content_container {
      flex-direction: column;
    }

    &_content_container {
      height: none;
      padding: 4%;
    }
    &_locations_container {
      width: 100%;
  }
}
  .catering {
    &_form_title_container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5% 5px 5% 5px;
    }
    &_title_container {
      width:100%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    &_img_container {
      flex-direction: column;
      
    }
    &_img_1_container {
      width: 100%;
      
    }
    &_img_2_container {
      width: 100%;
      
    }
      
    }
  /*achicar font-sizes*/
  .header_menu_list {
    font-size: 16px;
  }
  .intro {
    font-size: 16px;

    &_br_text_container {
      font-size: 16px;
    }
    &_mc_text_container {
      font-size: 16px;
    }
  }
  

  .form_subcontainer {
    font-size: 10px;
  }
  .footer {
    font-size: 10px;
  }
}
