$color-primary: #000000;

$font-family: "Jost", "Arial";

$fontsize-mood: (
  size-original: 20px,
  size-one: 1rem,
  size-two: 0.9rem,
  size-three: 0.7rem,
  size-four: 0.5rem,
  size-five: 0.2rem,
  size-six: 0.8rem,
);
