.end_img {
    
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

    &_2_container {
        display: flex;
        width: 25%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        object-fit: contain;
        overflow: hidden;
        width: max-content;
        }
    &_3_container {
        display: flex;
        width: 25%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        object-fit: contain;
        width: max-content;
        }
    &_4_container {
        display: flex;
        width: 25%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        object-fit: contain;
        overflow: hidden;
        width: max-content;
        }
    &_5_container {
        display: flex;
        width: 25%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        object-fit: contain;
        width: max-content;
        }
    &_img2{
        object-fit: contain;
        }
    &_img3{
        object-fit: contain;
        }
    &_img4{
        object-fit: contain;
        }
    &_img5 {
        object-fit: contain;
        }
}
  